<template>
    <div id="container" class="container">
        <div id="login" class="">
            
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Ingreso al sistema
                            </p>
                            
                        </header>
                    
                        <div class="card-content">
                            <div class="content">
                                <div class="column is-12">
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="email" placeholder="Email">
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="column is-12">
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" placeholder="Password">
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                        </span>
                                    </p> 
                                </div>

                                <div class="column is-12 has-text-centered">
                                        <a class="button is-link">Ingresar</a>
                                </div>
                            </div>
                        </div>
            
                    
                    </div>
                </div>
            </div>
    
        </div>

        <div id="productos" class="">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="field">
                        <div class="control">
                            <div class="columns">    
                                <div class="column is-10">
                                    <input class="input is-success" type="text" placeholder="Ingrese producto">
                                </div>
                                <div class="column is-2">  
                                    <a class="button is-link">Buscar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Televisor HQ</td>
                                <td>S/. 4200.00</td>
                            </tr>
                            <tr>
                                <td>Televisor LED</td>
                                <td>S/. 1200.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div>
                            </div>
                        
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>

    </div>
    

</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                mensaje:"Mi mensaje",
                pagina: 1
            };
        },
        methods : {
            autenticar : function(){
                this.pagina = 2;
            }
        }
    }
</script>